<app-navbar></app-navbar> 
<div class="container-fluid">
<div class="container">
    <div class="row">
        <div class="col-6 left">
Just checking you out so that I can plan better 
        </div>
        <div class="col-6 right">
maybe a nice logo or image here, afterall this is my portfolio website
        </div>
    </div>
    <div class="row">
        <div class="col-6 left">
Just checking you out so that I can plan better 
        </div>
        <div class="col-6 right">
maybe a nice logo or image here, afterall this is my portfolio website
        </div>
    </div>
Hello there, My name is Ipeleng, 
    
</div>
</div>

