<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="container">


        <div class="row">
            <div class="col landing">
                Just a babe trying her <div class="d-flex">
                    <div class="arrow-container animated fadeInDown">
                        <div class="arrow-2">
                          <i class="bi bi-arrow-down"></i>
                        </div>
                        <div class="arrow-1 animated hinge infinite zoomIn"></div>
                      </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 left about">
                Just checking you out so that I can plan better
            </div>
            <div class="col-6 right about-image">
                maybe a nice logo or image here, afterall this is my portfolio website
            </div>
        </div>
        <div class="row">
            <div class="col-6 left skills-image">
                Just checking you out so that I can plan better
            </div>
            <div class="col-6 right skills ">
                maybe a nice logo or image here, afterall this is my portfolio website
            </div>
        </div>
        Hello there, My name is Ipeleng,

    </div>
</div>

</div>